// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
// @import 'variables';
@import "./variables";

// Bootstrap
// @import '~bootstrap/scss/bootstrap';
// @import '../../public/backend/vendor/bootstrap/scss/bootstrap.scss';
