.servise_container {
    width: 80%;
    margin: 30px auto;
}

.pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.page-value {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: #333;
    text-decoration: none;
}

.previous.disabled,
.next.disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.custom-select ul.options {
    display: none;
}

.custom-select.open ul.options {
    display: block;
}
