/*-------------------------------------------------------
42. Benefit css 
---------------------------------------------------------*/

.benefit-pading {
	padding-left: 330px;
	width: 700px;
}

.benefit-opt {
	display: flex;
	flex-direction: column;
	li {
		display: flex;
		align-items: flex-start;
		gap: 2rem;
		margin-bottom: 2rem;
		padding-bottom: 2rem;
		border-bottom: 1px solid var(--clr-border-2);
		&:last-child {
			margin-bottom: 0;
			padding-bottom: 0;
			border-bottom: none;
		}
	}
}

.count-pech {
    position: absolute;
    top: -180px;
    right: 0;
    z-index: -1;
}