/*-------------------------------------------------------
50. Best css 
---------------------------------------------------------*/

.charge-table {
	background-color: var(--white-2);
	&.p-lg-5{
		padding: 2rem !important;
	}
	table {
		thead {
			font-size: 14px;
			font-weight: 600;
			line-height: 1;
		}
		&.border-primary {
			border-color: var(--border-color-2)!important;
		}
	}
	.table>:not(caption)>*>* {
		padding: 1rem;
		line-height: 24px;
		font-size: 16px;
	}
}

.charge-wpr {
	.nav {
		margin-bottom: 2rem;
		background-color: var(--white-2);
		justify-content: center;
		padding: 20px;
		// box-shadow: var(--box-shadow);
		.nav-item {
			margin-right: 10px;
			&:last-child {
				margin-right: 0;
			}
			.nav-link {
				background: transparent;
				font-size: 16px;
				font-weight: 600;
				line-height: 18px;
				padding: 14px 20px;
				color: var(--primary-text-color);
				border: 0;
				border-radius: var(--rounded-square);
				&:hover,
				&.active {
					background-color: rgba(var(--primary-color));
					color: var(--clr-white);
				}
			}
		}
	}
}

