
/* -------------------------------------------------------
14. Breadcrumb css
---------------------------------------------------------*/

.breadcrumb-shape-2 {
	position: absolute;
	z-index: -1;
	bottom: 0;
	left: 0;
}

.site-breadcrumb  {
	// height: 200px;
	padding-top: clamp(60px, 8vw, 100px);
	padding-bottom: clamp(73px, 8vw, 113px);
	background-size: cover!important;
	background-repeat: no-repeat!important;
	background-position: center center!important;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
    position: relative;
    z-index: 3;
    &::before {
		content: '';
        position: absolute;
		width: 100%;
		height: 100%;
		background-color: #111;
		opacity: .7;
		top: 0;
		left: 0;
		z-index: -1;
    }
	.breadcrumb-title {
		font-size: 3.5rem;
		text-transform: capitalize;
		color: var(--clr-white);
		font-weight: 700;
		margin-bottom: 20px;
		letter-spacing: 0.0025em;
		line-height: 1;
		position: relative;
		z-index: 1;
	}
	.breadcrumb-menu {
		display: inline-block;
		background: rgba(var(--primary-color));
		padding: 10px 1.4rem;
		line-height: 1;
		border-radius: 6px;
		li {
			position: relative;
			display: inline-block;
			margin-left: 1rem;
			color: var(--clr-white);
			text-transform: capitalize;
			font-size: 14px;
			font-weight: 400;
			line-height: 1;
			a {
				color: var(--clr-white);
				-moz-transition: all 0.3s ease;
				-webkit-transition: all 0.3s ease;
				-ms-transition: all 0.3s ease;
				transition: all 0.3s ease;
				font-size: 14px;
				font-weight: 400;
				line-height: 1;
			}
			&.active {
                color: var(--clr-white);
			}
			&::before {
				position: absolute;
				content: '\eaa0';
				font-family: 'icofont';
				font-weight: 900;
				right: -18px;
				top: 0px;
				text-align: center;
				font-size: 1rem;
				color: var(--clr-white);
			}
			&:first-child{
				margin-left:0;	
			}
			&:last-child:before{
				display:none;	
			}
			// &:hover {
			// 	color: var(--clr-def-6);
			// }
		}
	}
}
