/*-------------------------------------------------------
28. Counter Css  
---------------------------------------------------------*/

.center-right {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 100%;
}

.counter-1 {
	.fun-fact {
		.counter-icon {
			margin-bottom: 2rem;

			img {
				display: inline-block;
			}
		}

		.counter {
			position: relative;
			display: flex;
			align-items: center;
			margin-bottom: 2rem;
			font-size: 24px;
			line-height: 1;
			font-weight: 600;
		}

		span {
			display: block;
			line-height: 1;
			font-size: 16px;
			font-weight: 400;
			color: #bbbbbb;

		}
	}
}

.counter-clr-box-1 {
	width: 115px;
	height: 110px;
	background: rgba(var(--primary-color));
	float: right;
}

.counter-clr-box-2 {
	width: 125px;
	height: 86px;
	background: var(--clr-def-4);
}

.counter-pics-wpr {
	display: grid;
	grid-template-columns: 250px 1fr;
	grid-gap: 2rem;
}

.time-clr-1 {
	color: rgba(var(--primary-color));
}

.time-clr-2 {
	color: #06C270;
}

.time-clr-3 {
	color: var(--clr-def-4);
}

.time-clr-4 {
	color: #FF3B3B;
}

// new counter

/*** About ***/
.ms-n5 {
	margin-left: -3rem !important;
}

.mt-n5 {
	margin-top: -3rem !important;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50px;
	font-weight: normal;
}

.icon-box-light {
	position: relative;
	padding: 0 0 10px 10px;
	z-index: 1;

	&::before {
		position: absolute;
		content: "";
		width: 35px;
		height: 35px;
		left: 0;
		bottom: 0;
		border-radius: 35px;
		transition: .5s;
		z-index: -1;
		background-color: var(--bs-light);
	}
}

.our-achievement {
	background-color: color-mix(in oklab, var(--white-3) 60%, var(--white-2));
	background-position: top center;
	background-size: cover;
}

.achievement-left {
	position: relative;

	.img__thumb {
		width: 100%;
		padding-top: 100%;
		position: relative;

		.container-img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			z-index: 0;
		}

		&-inner {
			&-left {
				position: absolute;
				bottom: 0;
				left: 0;
				width: 50%;
				z-index: 1;
				padding-top: 2rem;

				div {
					padding: 2rem;
					background-color: rgba(var(--primary-color));

					h4 {
						font-size: 70px;
						color: var(--clr-white);
					}
				}
			}

			&-right {
				position: absolute;
				bottom: 0;
				right: 0;
				width: 50%;
				z-index: 1;
				padding: 2rem;
				padding-right: 0;
				padding-bottom: 0;
				height: 250px;

				img {
					height: 100%;
					width: 100%;
					object-fit: cover;
				}
			}
		}
	}
}

.achievement-fact {

	background-color: var(--white-2);
	&:last-child {
		border: 0;
	}

}



@media (min-width: 576px) {
	.achievement-fact.mt-n130 {
		margin-top: -130px;
	}
}

@media (min-width: 576px) {
	.border-sm-right {
		border-right: 1px solid #bbbbbb52;
	}

	.border-sm-left {
		border-left: 1px solid #bbbbbb52;
	}

	.border-sm-top {
		border-top: 1px solid #bbbbbb52;
	}

	.border-sm-bottom {
		border-bottom: 1px solid #bbbbbb52;
	}
}

@media (min-width: 767px) {
	.border-md-right {
		border-right: 1px solid #bbbbbb52;
	}

	.border-md-left {
		border-left: 1px solid #bbbbbb52;
	}

	.border-md-top {
		border-top: 1px solid #bbbbbb52;
	}

	.border-md-bottom {
		border-bottom: 1px solid #bbbbbb52;
	}
}

@media (min-width: 991px) {
	.border-lg-right {
		border-right: 1px solid #bbbbbb52;
	}

	.border-lg-left {
		border-left: 1px solid #bbbbbb52;
	}

	.border-lg-top {
		border-top: 1px solid #bbbbbb52;
	}

	.border-lg-bottom {
		border-bottom: 1px solid #bbbbbb52;
	}
}


/* ====== new achivment start =========*/

.achivment-one {
	position: relative;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	z-index: 1;
	// --primary-text-color: var(--clr-white);
	color: var(--clr-white);

	&::before {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		z-index: -1;
		bottom: 0;
		width: 100%;
		height: 100%;
		content: "";
		background: linear-gradient(180deg, rgba(1, 23, 45, 0.1) -54.94%, rgba(1, 23, 45, 0.95) 65.43%);
	}
}

.counter-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-top: 1px solid var(--border-color-1);
	padding-top: 90px;
	margin-top: 90px;
	position: relative;
}

.counter-item {
	.icon {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 120px;
		height: 120px;
		border: 1px dashed var(--border-color-1);
		border-radius: 50%;
		transition: all 500ms linear;
		margin: 0 auto;
		z-index: 1;

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: rgba(var(--primary-color));
			border-radius: 50%;
			transform: scale(0);
			transform-origin: center;
			transform-style: preserve-3d;
			transition: all 0.4s cubic-bezier(0.62, 0.21, 0.45, 1.52);
			z-index: -1;
		}

		i {
			position: relative;
			display: inline-block;
			font-size: 40px;
			color: rgba(var(--primary-color));
			transition: all 500ms linear;
			transition-delay: 0.1s;
			transform: scale(1);
		}
	}

	.count-number {
		font-size: 60px;
		line-height: 60px;
		letter-spacing: -0.04em;
		font-weight: 700;
		margin-top: 28px;
	}

	p {
		color: var(--clr-white);
		font-size: 18px;
		line-height: 28px;
		letter-spacing: -0.02em;
	}

	&:hover .icon {
		border: 1px dashed transparent;
	}

	&:hover .icon::before {
		transform: scaleX(1);
	}

	&:hover .icon i {
		transform: scale(0.9);
		color: var(--clr-white);
	}
}

@media (max-width: 991px) {
	.counter-wrapper {
		padding-top: 30px;
		margin-top: 30px;
	}

	.achievement-left {
		.img__thumb {

			&-inner {
				&-left {
					padding-top: 2rem;

					div {
						h4 {
							font-size: 50px;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 576px) {
	.counter-item .count-number {
		font-size: 40px;
		line-height: 46px;
	}

	.achievement-left {
		.img__thumb {
			padding-top: 100%;
			&-inner {
				&-left {
					display: none;
				}

				&-right {
					display: none;
				}
			}
		}
	}
}

/* ====== new achivment start =========*/