/*-------------------------------------------------------
45. CTA css  
---------------------------------------------------------*/

.cta-wpr {
	padding: 6rem 7rem;
	border-radius: 12px;
	position: relative;
	z-index: 1;
	span {
		display: block;
		margin-bottom: 20px;
		line-height: 1;
		color: var(--clr-white);
		font-size: 16px;
		font-weight: 400;
		line-height: 1;
	}
	.heading-3 {
		color: var(--clr-white);
		line-height: 1.3;
		font-size: 30px;
		font-weight: 600;
		margin-bottom: 2rem;
	}
}

.cta-gari {
	position: absolute;
	bottom: 0;
	right: 30px;
}

.cta-baton {
	padding: 15px 16px 15px 16px;
	border-radius: var(--rounded-square);
	background: var(--clr-white);
	display: inline-block;
	font-size: 14px;
	font-weight: 500;
	color: rgba(var(--primary-color));
	transition: all .5s ease;
	&:hover {
		color: var(--clr-heading);
		background: var(--clr-def-4);
	}
}


.cta-section{
	// height: 200px;
	.cta-left-image{
		background-size: cover;
		width: 100%;
		background-repeat: no-repeat;
		height: 300px;
		.icon-box {
			position: absolute;
			top: calc(50% - 65px);
			right: calc(0% - 65px);
			width: 130px;
			height: 130px;
			font-size: 60px;
			line-height: 145px;
			text-align: center;
			border-radius: 50%;
			cursor: pointer;
			color: var(--clr-white);
			border: 1px solid rgb(28, 28, 83);
			background-color: rgb(28, 28, 83);
			transition: all 500ms ease;
		}
	}
	.cta-right{
		padding: 92px 103px 92px 137px;
		background-color: rgba(var(--primary-color));
		height: 300px;
		h4{
			font-size: 30px;
		}

	}
}

@media only screen and (max-width: 768px){
	.cta-section{
		.cta-right{
			padding: 30px;
		}
	}
}