
/* =================== Delivery success section style Start ==================*/

.delivery__container{
    background-color: var(--white-3);
    position: relative;
    .sec-shape{
        position: absolute;
        left: 68px;
        top: 0;
    }
    &-inner{
        .swiper-wrapper{
            box-sizing: border-box;
        }
        .img-thumb{
            width: 100%;
            padding-top: 90%;
            position: relative;
            transition: all .4s ease-in-out;
            overflow: hidden;
            img{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            .img-overly{
                background-color: rgba(0,0,0,.2);
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
            }

            .content{
                position: absolute;
                left: 3px;
                bottom: 0;
                width: 95%;
                background-color: #fff;
                color: var(--primary-text-color);
                z-index: 2;
                transform: translateY(-20px);
                padding: 26px 32px;
                transition: all 0.4s ease-in-out;
                box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                visibility: hidden;
                opacity: 0;
                &:hover{
                    border-left: 3px solid rgba(var(--primary-color));
                    transition: all 0.4s ease-in;
                }

                .img-content{
                    h3{
                        color: #121212;
                    }
                }

                .img-btn{
                    a{
                        width: 50px;
                        height: 50px;
                        border: 1px solid rgba(var(--primary-color));
                        color: rgba(var(--primary-color));
                        font-size: 16px;
                        transition: all .4s ease-in-out;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 50%;
                        &:hover{
                            background-color: rgba(var(--primary-color));
                            color: var(--clr-white);
                            transition: all .4s ease-in-out;
                        }
                    }
                }
            }

            &:hover  .content{
                visibility: visible;
                opacity: 1;
                transition: all .4s ease-in;
                transform: translateY(0);
            }
        }
    }
}

/* =================== Delivery success section style Start ==================*/