/*-------------------------------------------------------
41. Feature css
---------------------------------------------------------*/

.feature-box {
    text-align: center;
    padding: 3rem;
    border-radius: 6px;

    .feature-icon {
        margin-bottom: 2rem;

        i {
            width: 66px;
            height: 66px;
            line-height: 66px;
            text-align: center;
            display: inline-block;
            border-radius: 12px;
        }
    }

    .feature-desc {
        h5 {
            font-size: 18px;
            font-weight: 600;
            line-height: 18px;
            margin-bottom: 2rem;
        }

        p {
            margin-bottom: 0;
        }
    }
}

.feature-clr-1 {
    border: 1px solid #FF3B3B;
    box-shadow: 0px 20px 50px 0px #FF3B3B1A;

    .feature-icon {
        i {
            background: #FF3B3B;
        }
    }

    .feature-desc {
        h5 {
            color: #FF3B3B;
        }
    }
}

.feature-clr-2 {
    border: 1px solid #FFCC00;
    box-shadow: 0px 20px 50px 0px #FFCC001A;

    .feature-icon {
        i {
            background: #FFCC00;
        }
    }

    .feature-desc {
        h5 {
            color: #FFCC00;
        }
    }
}

.feature-clr-3 {
    border: 1px solid #0063F7;
    ;
    box-shadow: 0px 20px 50px 0px #0063F71A;

    .feature-icon {
        i {
            background: #0063F7;
        }
    }

    .feature-desc {
        h5 {
            color: #0063F7;
        }
    }
}

.feature-clr-4 {
    border: 1px solid #06C270;
    box-shadow: 0px 20px 50px 0px #06C2701A;

    .feature-icon {
        i {
            background: #06C270;
        }
    }

    .feature-desc {
        h5 {
            color: #06C270;
        }
    }
}


// Work area

/*==========================================================================
* Work Area CSS
==========================================================================*/
.work__area {
    position: relative;
    z-index: 1;
    width: 100%;
    background-color: var(--clr-bg-2);

    &-shape {
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
    }

    &-item {
        text-align: center;
        padding: 0 30px;
        position: relative;
        z-index: 1;
        margin-top: 30px;

        &::after {
            content: '';
            position: absolute;
            left: 85%;
            top: 35px;
            background-image: url('../../assets/img/shape/work-2.png');
            width: 120px;
            height: 55px;
            background-repeat: no-repeat;
            opacity: 0.2;
            z-index: -1;
        }

        &-icon {
            display: inline-flex;
            position: relative;
            z-index: 1;
            width: 120px;
            height: 120px;
            align-items: center;
            justify-content: center;
            margin-bottom: 15px;

            &::after {
                content: '';
                position: absolute;
                top: 0;
                width: 120px;
                height: 120px;
                left: 0;
                border: 1px solid rgba(var(--primary-color));
                border-radius: 50%;
                opacity: 0.1;
            }

            span {
                position: absolute;
                right: -30px;
                top: 0;
                background: rgba(var(--primary-color));
                width: 30px;
                height: 30px;
                line-height: 30px;
                color: var(--clr-white);
                font-family: var(--heading-font);
                font-weight: 700;
                font-size: 14px;
                border-radius: 50%;

                &::before {
                    position: absolute;
                    content: '';
                    left: 3px;
                    bottom: -3px;
                    display: block;
                    z-index: -1;
                    width: 0;
                    height: 0;
                    border-left: 24px solid rgba(var(--primary-color));
                    border-top: 15px solid transparent;
                    border-bottom: 12px solid transparent;
                    transform: rotate(21deg);
                }
            }

            i {
                &::before {
                    font-size: 50px;
                    line-height: 50px;
                    color: rgba(var(--primary-color));
                    background: var(--bs-light);
                    width: 90px;
                    height: 90px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    transition: all 400ms ease;
                }
            }
        }

        &-content {
            p {
                margin: 0;
                margin-top: 5px;
                color: var(--primary-text-color);
            }
        }

        &:hover {
            .work__area-item-icon i {
                &::before {
                    width: 120px;
                    height: 120px;
                    line-height: 120px;
                    background: rgba(var(--primary-color));
                    color: var(--clr-white);
                    font-size: 55px;
                    line-height: 55px;
                }
            }
        }
    }

    .row.work-n .col-xl-3 {
        &:last-child .work__area-item {
            margin: 0;

            &::after {
                display: none;
            }
        }

        &:nth-child(2) .work__area-item {
            margin: 0;
        }
    }
}

@media (max-width: 1399px) {
    .work__area-item {
        padding: 0 25px;
    }
}

@media (max-width: 1199px) {
    .work__area {
        .row.work-n .col-xl-3 {
            &:nth-child(3) .work__area-item::after {
                display: none;
            }

            &:first-child .work__area-item {
                margin-bottom: 30px;
            }
        }
    }
}

@media (max-width: 991px) {
    .work__area {
        .row.work-n .col-xl-3 {
            &:nth-child(3) .work__area-item {
                margin: 0;

                &::after {
                    display: block;
                }
            }

            &:first-child .work__area-item {
                margin: 0;
            }

            &:nth-child(2) .work__area-item {
                margin-bottom: 30px;

                &::after {
                    display: none;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .work__area {
        .row.work-n .col-xl-3 {

            &:first-child .work__area-item,
            &:nth-child(3) .work__area-item {
                margin-bottom: 30px;

                &::after {
                    display: none;
                }
            }
        }
    }
}


/* ========= how work style start =========*/

// .how-we-img{
//     max-width: 400px;
//     height: 330px;
//     img{
//         width: 100%;
//         height: 100%;
//     }
// }

.how-work-accordion {
    .accordion-item {
        border: 1px solid var(--border-color-2);
        border-radius: var(--rounded-2);
        margin-bottom: 10px;
        position: relative;
        background-color: var(--white-2);
        overflow: hidden;

        span {
            font-size: 16px;
            font-weight: 600;
            color: var(--primary-text-color);
            width: 45px;
            height: 45px;
            line-height: 45px;
            text-align: center;
            border: 1px solid var(--border-color-2);
            background-color: var(--white-2);
            display: inline-block;
            border-radius: 50%;
            position: absolute;
            top: 18px;
            left: 30px;
            z-index: 9;
        }

        .icon {
            position: absolute;
            top: 18px;
            right: 30px;
            font-size: 40px;
            color: rgba(var(--primary-color));
            z-index: 9;
        }

        .accordion-button {
            font-size: 20px;
            line-height: 1;
            font-weight: 600;
            box-shadow: none;
            border-radius: 0 !important;
            padding-left: 65px;
            background-color: var(--white-2);
            color: var(--primary-text-color);
            padding: 30px 80px 30px 100px;
            display: flex;
            align-items: center;

            &:after {
                display: none;
            }

            &.collapsed {
                background-color: transparent;
                color: var(--primary-text-color);
            }
        }

        .accordion-body {
            padding-top: 0;
            padding-left: 30px;
            padding-right: 50px;
            padding-bottom: 30px;
            background-color: var(--white-2);

            p {
                color: var(--secondary-text-color);
                font-size: 16px;
                line-height: 32px;
                font-weight: 400;
                margin-bottom: 0;
            }
        }
    }
}

/* ========= how work style Ends =========*/


/* ========= how work two start ========*/

.how-work-two {
    position: relative;
    z-index: 1;
    background-color: #000134;
    color: var(--clr-white);
    text-align: center;
    counter-reset: count;

    .section-title {
        margin-bottom: 150px;
    }

    .work-bg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0.80;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        z-index: -1;
        opacity: 0.15;
    }

    .plane-shape {
        position: absolute;
        top: -100px;
        right: 0;
        opacity: .5;
        filter: invert(1);
    }

    .work-step {
        position: relative;
        z-index: 1;
        display: block;

        .work-step-shape {
            position: absolute;
            left: 50%;
            top: 0;
            transform: translateX(-50%);
            z-index: -1;
            width: 100%;

            img {
                max-width: max-content;
                width: auto;
            }
        }

        .work-step-list {
            position: relative;
            display: flex;
            gap: 120px;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;

            li {
                // margin-bottom: 21px;

                .work-step-icon {
                    position: relative;
                    display: inline-flex;
                    align-items: center;
                    .step-count {
                        position: absolute;
                        // top: 0;
                        right: -120px;
                        z-index: 2;

                        &:before {
                            position: relative;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: 20px;
                            font-weight: 600;
                            color: var(--clr-white);
                            counter-increment: count;
                            content: "0" counter(count);
                            transition: all 200ms linear;
                            transition-delay: 0.1s;
                            background-color: rgba(var(--primary-color));
                            border-radius: 50%;
                            height: 50px;
                            width: 50px;
                            text-align: center;
                            border: 4px solid #fff;
                        }
                    }

                    .step-shape-1 {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translateX(-50%) translateY(-50%);
                        z-index: 1;
                        width: 200px;
                        height: 200px;
                        border-radius: 50%;
                        border: 2px dashed #fff;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        img {
                            width: 165px;
                            height: 165px;
                            object-fit: cover;
                            border-radius: 50%;
                        }
                    }

                    .step-main-icon {
                        position: relative;
                        display: inline-block;
                        font-size: 60px;
                        color: rgba(var(--primary-color));
                        transition: all 500ms linear;
                        transition-delay: 0.1s;
                        transform: scale(1);
                        z-index: 2;
                    }
                }

                .step-text {
                    font-size: 24px;
                    font-weight: 700;
                    line-height: 34px;
                    letter-spacing: -0.016em;
                    margin-top: 118px;
                    margin-bottom: 0;

                    a {
                        color: var(--clr-white);
                        transition: all 500ms linear;
                        font-weight: 700;
                    }
                }

                &:hover .step-main-icon {
                    transition: all 500ms linear;
                    transform: scale(.9);
                }

                &:hover .step-shape-1 img {
                    transition: all 200ms linear;
                    transform: scale(1.05);
                }

                &:hover .step-text a {
                    transition: all 500ms linear;
                    color: rgba(var(--primary-color));
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .how-work-accordion .accordion-item .accordion-button {
        padding: 20px 80px 20px 100px;
    }

    .how-work-accordion .accordion-item .accordion-body {
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 14px;
    }

    .how-work-two .work-step .work-step-list {
        justify-content: center;
    }
}

/* ========= how work two Ends ========*/