/*-------------------------------------------------------
11.Footer css 
---------------------------------------------------------*/

/*footer Default*/

.footer {
	position: relative;
	z-index: 1;
	background: #020617;

	&.one {
		background-color: #030712;

		.footer-social li a i {
			display: inline-block;
			height: 3rem;
			width: 3rem;
			line-height: 3rem;
			text-align: center;
			border-radius: 6px;
			color: rgba(var(--primary-color));
			transition: all 0.5s ease;
			background-color: transparent;
			color: var(--clr-white);
			border: 1px solid #f7f7f721;
			font-size: 16px;
			transition: all .4s ease-in-out;

			&:hover {
				background-color: rgba(var(--primary-color));
				color: var(--clr-white);
				transition: all .4s ease-in;
			}
		}

		.footer-list li a {
			display: flex;
			align-items: center;
			gap: 10px;
			font-weight: 400;
			transition: .4s;

			&:hover {
				margin-left: 6px;
				transition: .4s;
			}
		}

		.footer-list li a i {
			font-size: 6px;
			vertical-align: middle;
			padding-top: 3px;
		}

		.footer-adss li i {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			width: 40px;
			height: 40px;
			font-size: 20px;
			border: 1px solid #f7f7f721;
			border-radius: 50%;
			color: rgba(var(--primary-color));
		}
	}

	&.two {


		.footer-item .footer-instagram {
			position: relative;
			overflow: hidden;
			aspect-ratio: 16 / 10;
		}

		.footer-item .footer-instagram img {
			transition: 0.5s;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		.footer-item .footer-instagram:hover img {
			transform: scale(1.2);
		}

		.footer-item .footer-instagram .footer-search-icon {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			transition: 0.5s;
			opacity: 0;
		}

		.footer-item .footer-instagram:hover .footer-search-icon {
			opacity: 1;
			background: rgba(0, 0, 0, .6);
		}
	}
}

.site-designer {
	color: var(--clr-def-4);
}

//About Bio

.footer-bio {
	display: flex;
	align-items: center;
	gap: 1.5rem;

	.footer-bio-text {
		h6 {
			text-transform: capitalize;
			margin-bottom: 5px;
		}

		span {
			display: block;
			line-height: 1;
			color: var(--clr-heading);
			font-size: 1.6rem;
		}
	}
}

.footer-know-more {
	color: rgba(var(--primary-color));
}

// Footer Upper

.footer-upr-content {
	h2 {
		font-weight: 600;
	}

	h4 {
		a {
			text-decoration: underline;
			color: rgba(var(--primary-color));
		}
	}
}

//Footer Title

.footer-heading {
	font-size: 22px;
	line-height: 22px;
	font-weight: 600;
	margin-bottom: 30px;
	color: var(--clr-white);
}

.footer-widget-title {
	font-weight: 600;
	margin-bottom: 30px;
	position: relative;
	z-index: 1;
	color: var(--clr-white);
	font-size: 18px;

	.footer-title-line {
		width: 4rem;
		height: 1px;
		position: absolute;
		bottom: 0;
		left: 0;
		translate: 0 -50%;
		z-index: 1;
		background-color: var(--clr-heading);

		&::before {
			@include pos-abs(var(--clr-heading), 1px, 30px, 1);
			top: 5px;
			left: 0;
		}

		&::after {
			@include pos-abs(var(--clr-heading), 1px, 20px, 1);
			top: 10px;
			left: 0;
		}
	}
}

//Footer About Logo

.footer-logo {
	margin-bottom: 3rem;

	img {
		display: block;
	}
}

//Footer About Us

.about-us {
	p {
		a {
			text-decoration: underline;
		}
	}
}

//Footer List

.footer-list {
	display: flex;
	flex-direction: column;
	gap: 1rem;

	li {
		a {
			display: flex;
			align-items: center;
			gap: 5px;
			font-weight: 400;

			&:hover {
				color: rgba(var(--primary-color));
			}

			i {
				font-size: .8rem;
			}
		}
	}
}

//Footer Hours

.footer-hours {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;

	li {
		display: flex;
		align-items: center;
		justify-content: space-between;

		span {
			color: var(--clr-heading);
			display: inline-block;
		}
	}
}

//Social Icon

.footer-social {
	display: flex;
	align-items: center;
	gap: 1rem;

	li {
		a {
			i {
				display: inline-block;
				height: 3rem;
				width: 3rem;
				line-height: 3rem;
				text-align: center;
				-webkit-border-radius: 6px;
				border-radius: 6px;
				color: rgba(var(--primary-color));
				transition: all .5s ease;
				background: transparent;
				color: var(--clr-white);
				border: 2px solid rgba(255, 255, 255, .06);
				font-size: 15px;

				&:hover {
					background: var(--clr-white);
					border: 2px solid transparent;
					color: rgba(var(--primary-color));
				}
			}
		}
	}
}

//Subscribe

.subscribe-area {
	form {
		display: flex;
		align-items: center;
		position: relative;
		z-index: 1;

		.input-style-4 {
			width: 100%;
			background-color: transparent;
			padding: 8px 1.5rem 8px 2rem;
			color: var(--clr-heading);
			outline: none;
			border: 1px solid var(--clr-ccc);
			height: 60px;

			&:focus {
				outline: none;
				box-shadow: none;
				border: 1px solid var(--clr-ccc);
			}

			&::placeholder {
				color: var(--clr-heading);
			}
		}

		.btn-subs {
			outline: none;
			box-shadow: none;
			border: 1px solid var(--clr-ccc);
			border-left: none;
			background-color: transparent;
			font-size: 1.6rem;
			color: var(--clr-ccc);
			width: 75px;
			height: 60px;

			&:hover {
				color: rgba(var(--primary-color));
			}
		}
	}
}

//App Icon

.app-icon {
	display: flex;
	align-items: center;
	gap: 10px;
}

//Footer Address

.footer-adss {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	color: rgba(255, 255, 255, .70);

	li {
		display: flex;
		align-items: center;
		gap: 12px;
	}
}

@media (max-width: 768px) {
	.footer-widget-title {
		margin-bottom: 1.5rem;
	}

	.footer-list {
		gap: 1rem;
	}

	.footer-adss {
		gap: 1rem;
	}
}

//Copyright

.copyright {
	border-top: 1px solid rgba(255, 255, 255, 0.20);
}

.footer-widget p,
.footer-widget ul li a {
	color: rgba(255, 255, 255, 0.70);
}