/*-------------------------------------------------------
55. Form css 
---------------------------------------------------------*/

// custom border radius and square form input, button, and textarea

.rounded {
	border-radius: var(--rounded-square) !important;
}

.rounded-pill {
	border-radius: var(--rounded-pill) !important;
}

.contact-page-3 {
	border: 1px solid #EEEEEE;
	box-shadow: 0px 4px 30px 0px #0000000F;
	padding: 3rem;
}

.contact-form-1 {
	.form-group {
		margin-bottom: 20px;
	}
}

.input-style-contact {
	border: 1px solid #EEEEEE;
	height: 50px;
	border-radius: 6px;
	font-size: 16px;
	padding: 0.375rem 1.75rem;

	&::placeholder {
		font-size: 14px;
		font-weight: 300;
		line-height: 1;
	}

	&:focus {
		box-shadow: none;
		outline: none;
		border: 1px solid #EEEEEE;
	}
}

.label-page {
	font-size: 14px;
	font-weight: 500;
	line-height: 1;
	margin-bottom: 2rem;
	color: #646770;
}

.label-forgot {
	display: flex;
	align-items: center;
	justify-content: space-between;

	a {
		font-size: 12px;
		font-weight: 500;
		line-height: 1;
		color: #FF6767;
	}
}

.contact-btm-text {
	margin-top: 30px;

	span {
		font-size: 14px;
		font-weight: 400;
		line-height: 1;
		color: var(--clr-body-2);

		a {
			color: rgba(var(--primary-color));
			font-weight: 400;
		}
	}
}

.contact-phone {
	span {
		display: inline-block;
		font-size: 14px;
		font-weight: 600;
		line-height: 1;
		color: rgba(var(--primary-color));
	}
}

.contact-ll-sc {
	display: flex;
	align-items: center;
	gap: 3rem;

	li {
		width: 285px;
		height: 46px;
		line-height: 46px;
		text-align: center;
		border-radius: 6px;
		border: 1px solid #EEEEEE;
		display: flex;
		align-items: center;
		justify-content: center;

		a {
			display: flex;
			align-items: center;
			gap: 7px;

			span {
				font-size: 14px;
				font-weight: 300;
				line-height: 1;
				color: var(--clr-body-2);
			}
		}
	}
}

.contact-form-style-2 {
	.input-style-t {
		height: 170px;
		padding: 2rem
	}
}

.inp-white-clr {
	color: white;
}

.form-check {
	margin-bottom: 2rem;
}

.form-check-input[type=checkbox] {
	margin-left: 0;
	border-radius: 4px;
}

.form-check-label {
	font-size: 16px;
}

// Address

.contact-page-bx {
	padding: 3rem 2rem;
	border-radius: 6px;
	display: flex;
	align-items: center;
	gap: 1rem;

	.contact-page-icon {
		i {
			width: 60px;
			height: 60px;
			line-height: 60px;
			text-align: center;
			-webkit-border-radius: 50%;
			border-radius: 50%;
			display: inline-block;
			color: var(--clr-white);
			font-size: 20px;
		}
	}

	.contact-page-element {
		h4 {
			font-size: 16px;
			font-weight: 600;
			line-height: 1;
			color: var(--clr-heading-2);
			margin-bottom: 5px;
		}

		p {
			font-size: 14px;
			font-weight: 400;
			line-height: 20px;
			color: var(--clr-body-2);
		}
	}
}

.contact-clr-1 {
	background: #FF3B3B0F;

	.contact-page-icon {
		i {
			background: var(--clr-def-7);
		}
	}
}

.contact-clr-2 {
	background: #FFCC000F;

	.contact-page-icon {
		i {
			background: var(--clr-def-4);
		}
	}
}

.contact-clr-3 {
	background: #0D6EFD0F;

	.contact-page-icon {
		i {
			background: rgba(var(--primary-color));
		}
	}
}

.contact-clr-4 {
	background: #06C2700F;

	.contact-page-icon {
		i {
			background: var(--clr-def-8);
		}
	}
}

.max-form {
	max-width: 1200px;
	margin: 0 auto;
}



// new form
.new-login-form {
	.form-left {
		.img-thumb {
			width: 100%;
			position: relative;
			height: 97%;

			&::before {
				content: '';
				width: 100%;
				height: 100%;
				border: 4px solid rgba(var(--primary-color));
				border-radius: 2rem;
				position: absolute;
				top: 30px;
				right: 30px;
				z-index: -1;
			}

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				border-radius: 2rem;
			}
		}
	}

	.card {
		padding: 4rem 2.5rem;
		position: relative;
		border-radius: 2rem;
		overflow: hidden;
		background: var(--clr-gradient-2);

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-image: url('../img/dot/13.png');
			opacity: .6;
			background-position: top center;
			z-index: -1;
		}

		.card-header {
			background-color: transparent;

			h4 {
				font-size: 24px;
				font-weight: 600;
				color: var(--secondary-text-color);
			}

			.form-hd-btn {
				padding: 12px 20px;
				background-color: var(--btn-white);
				color: var(--secondary-text-color);
				transition: all .4s ease-in-out;
				font-weight: 500;

				&.active,
				&:hover {
					color: var(--clr-white);
					background-color: rgba(var(--primary-color));
					transition: all .4s ease-in;
				}
			}
		}

		.card-body {
			.form-group {
				position: relative;

				.form-control {
					box-shadow: none;
					padding: 14px 16px 14px 44px;
					font-size: 16px;
				}

				.form-select {
					box-shadow: none;
					padding: 14px 16px 14px 44px;
					font-size: 16px;
				}

				.first-icon {
					position: absolute;
					left: 20px;
					top: 16px;
					color: var(--primary-color-text);
				}

				.second-icon {
					position: absolute;
					right: 20px;
					top: 16px;
					cursor: pointer;
					color: var(--primary-color-text);
				}

				.form-check {
					margin-bottom: 0;
				}

				.btn-two {
					padding: 18px 12px;
					border-color: rgba(var(--primary-color));
					font-size: 16px;
				}
			}

			.bottom-btn {
				.form-btn {
					background-color: transparent;
					color: var(--primary-text-color);
					border: 1px solid var(--border-color-2);
					border-radius: var(--rounded-square);
					font-size: 16px;
					transition: all .4s ease-in-out;
					padding: 18px 18px;
					width: 100%;

					&:hover {
						background-color: rgba(var(--primary-color));
						color: var(--clr-white);
						transition: all .4s ease-in;
						border-color: rgba(var(--primary-color));
					}
				}
			}
		}
	}

	.horizontal {
		border-bottom: 1px solid var(--border-color-2);
		width: 100%;
	}
}

.form-check-input {
	width: 20px;
	height: 20px;
}

.contact-box {
	background: #fff;
	border-radius: 10px;
	// box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
	padding: 30px;
}

// .icon {
// 	font-size: 30px;
// 	margin-right: 10px;
// }

// contact maps
.maps {
	iframe {
		width: 100%;
		height: 450px;
		border-radius: var(--rounded-3);
		overflow: hidden;
	}
}

@media (max-width: 768px) {
	.new-login-form {
		.card {
			.card-body {
				.form-group {
					.form-control {
						padding: 12px 16px 12px 44px;
						line-height: 1;
					}

					.form-select {
						padding: 12px 16px 12px 44px;
						line-height: 1.4;
					}

					.first-icon {
						position: absolute;
						left: 20px;
						top: 50%;
						transform: translateY(-50%);
					}

					.second-icon {
						position: absolute;
						right: 20px;
						top: 50%;
						transform: translateY(-50%);
					}
				}

				.bottom-btn .form-btn {
					padding: 12px;
					width: 100%;
				}
			}



		}
	}
}


@media only screen and (max-width: 991px) {
	.new-login-form {
		.card {
			padding: 2rem 1.4rem;
		}
	}
}