/*-------------------------------------------------------
22. Heading css 
---------------------------------------------------------*/

.heading-big {
	font-size: 48px;
	font-weight: 600;
}

.heading-1 {
	font-size: 40px;
	line-height: 1.2;
	font-weight: 600;
}

.heading-light-1 {
	font-size: 40px;
	line-height: 1.2;
	font-weight: 200;
}

.heading-2 {
	font-size: 36px;
	line-height: 1.2;
	font-weight: 600;
}

.heading-light-2 {
	font-size: 36px;
	line-height: 1.2;
	font-weight: 200;
}

.heading-3 {
	font-size: 28px;
	line-height: 1.2;
	font-weight: 600;
}

.heading-light-3 {
	font-size: 28px;
	line-height: 1.2;
	font-weight: 200;
}

.heading-4 {
	font-size: 24px;
	line-height: 1.2;
	font-weight: 600;
}

.heading-light-4 {
	font-size: 24px;
	line-height: 1.2;
	font-weight: 200;
}

.heading-5 {
	font-size: 20px;
	line-height: 30px;
	font-weight: 600;
}

.heading-light-5 {
	font-size: 20px;
	line-height: 1.2;
	font-weight: 200;
}

.heading-6 {
	font-size: 16px;
	line-height: 1.2;
	font-weight: 600;
}

.heading-light-6 {
	font-size: 16px;
	line-height: 1.2;
	font-weight: 200;
}

.para {
	font-size: 18px;
	// line-height: 3.2rem;
	font-weight: 400;
}

.faq-para {
	font-size: 16px;
	line-height: 32px;
	font-weight: 400;
	color: var(--clr-heading);
}

.hero-title {
	font-size: 60px;
	font-weight: 600;

	// font-family: var(--primary-font);
	span {
		color: rgba(var(--primary-color));
		// font-family: var(--primary-font);
	}
}

.hero-title-light {
	font-size: 7.2rem;
	line-height: 1.2;
	font-weight: 300;

	// font-family: var(--primary-font);
	span {
		// color: rgba(var(--primary-color));
		// font-family: var(--primary-font);
		font-weight: 200;
	}
}

.hero-title-2 {
	font-size: 30px;
	font-weight: 600;
	line-height: 30px;
	color: var(--clr-heading-2);

	&.wh {
		color: var(--clr-white);
	}

	span {
		color: rgba(var(--primary-color));
	}
}

.hero-title-3 {
	font-size: 50px;
	font-weight: 700;
	margin-bottom: 24px;
	line-height: 50px;
	// color: var(--primary-text-color);

	&.wh {
		color: var(--clr-white);
	}

	span {
		color: rgba(var(--primary-color));
	}
}

@media (max-width: 991px) {
	.hero-title-3 {
		font-size: 36px;
		line-height: 36px;
	}
}

@media (max-width: 576px) {
	.hero-title-3 {
		font-size: 24px;
		line-height: 30px;
	}
}

.section-title-tagline {
	position: relative;
	display: inline-block;
	font-size: 16px;
	line-height: 16px;
	// color: var(--primary-text-color);
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.016em;
	margin-bottom: 16px;
}

.hero-sub-title {
	font-size: 1.6rem;
	font-weight: 600;
	line-height: 1;
	display: inline-block;
	font-family: var(--primary-font);
	color: rgba(var(--primary-color));
	text-transform: uppercase;
	position: relative;
	z-index: 1;
	padding-left: 5rem;

	.hero-line {
		width: 4rem;
		height: 1px;
		position: absolute;
		top: 18%;
		left: 0;
		translate: 0 -50%;
		z-index: 1;
		background-color: rgba(var(--primary-color));

		&::before {
			@include pos-abs(rgba(var(--primary-color)), 1px, 30px, 1);
			top: 5px;
			left: 0;
		}

		&::after {
			@include pos-abs(rgba(var(--primary-color)), 1px, 20px, 1);
			top: 10px;
			left: 0;
		}
	}

	&.wh {
		color: var(--clr-white);

		.hero-line {
			background-color: var(--clr-white);

			&::before {
				@include pos-abs(var(--clr-white), 1px, 30px, 1);
				top: 5px;
				left: 0;
			}

			&::after {
				@include pos-abs(var(--clr-white), 1px, 20px, 1);
				top: 10px;
				left: 0;
			}
		}
	}

	&.blk {
		color: var(--clr-heading);

		.hero-line {
			background-color: var(--clr-heading);

			&::before {
				@include pos-abs(var(--clr-heading), 1px, 30px, 1);
				top: 5px;
				left: 0;
			}

			&::after {
				@include pos-abs(var(--clr-heading), 1px, 20px, 1);
				top: 10px;
				left: 0;
			}
		}
	}
}

.hero-sub-title-light {
	font-size: 2.2rem;
	font-weight: 300;
	line-height: 1;
	display: inline-block;
	font-family: var(--primary-font);
	color: rgba(var(--primary-color));
	text-transform: uppercase;
	position: relative;
	z-index: 1;
}

.title-sub {
	color: var(--clr-heading);
	font-size: 16px;
	font-weight: 600;
	line-height: 17px;
	letter-spacing: -0.32px;
	display: inline-block;
	padding: 8px 16px;
	border-radius: 17px;
	background: var(--clr-def-4);
}

.title-page {
	font-size: 24px;
	font-weight: 600;
	line-height: 1;
	color: var(--clr-heading-2);
}

/* CSS Document */