/*-------------------------------------------------------
10. Hero css 
---------------------------------------------------------*/

/* ====== hero one new style ========*/

.hero-one {
	.swiper-slide.swiper-slide-active .slider-subtitle {
		animation: fadeInLeft 1s ease 0.3s both;
	}

	.swiper-slide.swiper-slide-active .slider-title {
		animation: fadeInLeft 1s ease 0.5s both;
	}

	.swiper-slide.swiper-slide-active .slider-btn {
		animation: fadeInUp 1s ease 0.8s both;
	}


	.swiper-pagination {
		bottom: auto;
		width: auto;
		left: 4%;
		top: 50%;
		transform: translateY(-50%);
		text-align: left;
		display: flex;
		flex-direction: column;
		gap: 15px;
	}

	.swiper-pagination-bullet {
		display: inline-block;
		border-radius: 50%;
		width: 20px;
		height: 20px;
		background: transparent;
		border: 2px solid #fff;
		opacity: 1;
	}

	.swiper-pagination-bullet.swiper-pagination-bullet-active {
		background: rgba(var(--primary-color));
		border-color: rgba(var(--primary-color));
	}
}

.item {
	position: relative;
	// padding-top: 251px;
	// padding-bottom: 260px;
	height: 80vh;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 10;
}

@media (min-width: 1024px) {
	.item {
		height: 100vh;
	}
}

.slider-bg {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	z-index: 1;

	&:before {
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: #000000;
		background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.84) 30%, rgba(0, 0, 0, 0) 70%);
		z-index: -1;
	}
}

.slider-content {
	position: relative;
	z-index: 1;
}

.slider-subtitle {
	display: inline-block;
	font-size: 18px;
	font-weight: 700;
	line-height: 18px;
	color: rgba(var(--primary-color));
	text-transform: uppercase;
	letter-spacing: -0.016em;
}

.slider-title {
	position: relative;
	font-size: 70px;
	color: var(--clr-white);
	font-weight: 700;
	line-height: 75px;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	margin-top: 19px;
	margin-bottom: 24px;
}

.video-text {
	position: relative;
	display: block;
	font-size: 18px;
	color: var(--clr-white);
	line-height: 18px;
	font-weight: 700;
	letter-spacing: -0.02em;
	margin-left: 20px;
}



/* Advanced ripple */
.ripple:before,
.ripple:after {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	--primary-color: 255, 255, 255;
	-ms-box-shadow: 0 0 0 0 rgba(var(--primary-color), 0.6);
	-o-box-shadow: 0 0 0 0 rgba(var(--primary-color), 0.6);
	-webkit-box-shadow: 0 0 0 0 rgba(var(--primary-color), 0.6);
	box-shadow: 0 0 0 0 rgba(var(--primary-color), 0.6);
	-webkit-animation: ripple 3s infinite;
	animation: ripple 3s infinite;
}

.video-icon {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 60px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	font-size: 17px;
	color: var(--clr-white);
	background-color: rgba(var(--primary-color));
	border-radius: 50%;
	transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;

	&:hover {
		color: rgba(var(--primary-color));
		background-color: white;
		transition: all 0.5s ease;
	}
}

.ripple:before {
	-webkit-animation-delay: 0.9s;
	animation-delay: 0.9s;
	content: "";
	position: absolute;
}

.ripple:after {
	-webkit-animation-delay: 0.6s;
	animation-delay: 0.6s;
	content: "";
	position: absolute;
}



@keyframes ripple {
	70% {
		box-shadow: 0 0 0 40px rgba(10, 165, 205, 0);
	}

	100% {
		box-shadow: 0 0 0 0 rgba(10, 165, 205, 0);
	}
}


// hero two

.hero-two {
	// background-color: var(--clr-white);
	background-size: cover;
	background-position: bottom left;
	background-repeat: no-repeat;
	position: relative;
	z-index: 1;

	.shape-1 {
		position: absolute;
		top: -58px;
		left: 30%;
		opacity: 0.3;
		z-index: -1;
		max-width: 300px;
	}

	.shape-2 {
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0.5;
		z-index: -1;
		// max-width: 300px;
	}

	&:before {
		content: '';
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(120deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.84) 40%, rgba(0, 0, 0, 0) 80%);
		z-index: -1;
	}

	.hero-content {
		max-width: 600px;

		.btn-two {
			padding: 20px 42px;
		}
	}

	.hero-thumb {
		width: 100%;

		img {
			max-width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}

.satisficed-partner {
	ul {
		li {
			&:not(:first-child) {
				margin-left: -12px;
			}

			div {
				max-width: 65px;
				// border-radius: 50%;
				overflow: hidden;
				position: relative;
				display: block;

				img {
					border: 2px solid var(--border-color-1);
					width: 65px;
					height: 65px;
					object-fit: cover;
					border-radius: 50%;
				}
			}
		}
	}

	.counting {

		h5,
		span,
		p {
			color: var(--clr-white);
		}

		>div {
			margin-bottom: 7px;
		}

		h5 {
			line-height: 24px;
			font-weight: 700;
			font-size: 26px;
			margin-bottom: 0;
		}

		span {
			line-height: 24px;
			font-weight: 700;
			font-size: 24px;
		}

		p {
			line-height: 16px;
			font-size: 16px;
			font-weight: 500;
		}
	}
}

.form-box {
	position: relative;
	display: block;
	padding: 58px 40px 58px;
	border-radius: 0px;
	border: 1px solid var(--border-color-1);
	background: linear-gradient(145deg, rgba(255, 255, 255, 0.12) -21.0%, rgba(0, 0, 0, 0.1) 98.75%);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	z-index: 2;
	margin-left: 50px;
	margin-right: -80px;

	.input-box .icon {
		position: absolute;
		top: 10px;
		right: 20px;
		font-size: 16px;
		margin-right: 0;
		color: rgba(255, 255, 255, 0.70);
	}

	.input-box .form-control,
	.input-box .form-select,
	.select-box {
		position: relative;
		display: block;
		height: 50px;
		width: 100%;
		background: rgba(255, 255, 255, 0.08);
		border: 1px solid rgba(255, 255, 255, 0.20);
		line-height: initial;
		padding-left: 20px;
		padding-right: 40px;
		outline: none;
		font-size: 14px;
		font-weight: 400;
		color: rgba(255, 255, 255, 0.70);

		&::placeholder {
			color: rgba(255, 255, 255, 0.70);
		}
	}

	.select-box {
		padding-right: 16px;
	}

	.select-box::after {
		color: rgba(255, 255, 255, 0.70);
		line-height: 16px;
	}

	.input-box.select-menu {
		position: relative;

		.form-select {
			background-image: none !important;
		}

		&:after {
			content: '\f078';
			font-family: 'fontawesome';
			position: absolute;
			top: 10px;
			font-size: 14px;
			right: 20px;
			color: rgba(255, 255, 255, 0.70);
		}
	}
}

.slider-title-2 {
	color: var(--clr-white);
	font-size: 80px;
	font-weight: 700;
	line-height: 86px;
	letter-spacing: -0.04em;
	margin-top: 10px;
}

.banner-two-text {
	color: var(--clr-white);
	font-size: 18px;
	line-height: 28px;
	margin-top: 28px;
	margin-bottom: 41px;
}

/* ======= Hero one Modal ========*/

.video-modal {
	.modal-content {
		background-color: var(--white-2);
		color: var(--primary-text-color);
	}

	.video-wrapper {
		position: relative;
		aspect-ratio: 16/9;
		overflow: hidden;
		margin: 0;
	}

	.video-wrapper iframe {
		width: 100%;
		height: 100%;
		border: none;
		display: block;
		margin: 0;
		padding: 0;
	}
}

/* ======= Hero one Modal ========*/

//Swiper Carousel 

@keyframes grow {

	0%,
	20% {
		transform: scale(1);
	}

	75%,
	100% {
		transform: scale(1.15);
	}
}

.swiper-slide {
	&.swiper-slide-active {
		.hero-bg-animate {
			scale: 1.15;
			animation: grow 4s linear forwards;
		}
	}
}

.animate-pos {
	position: absolute;
	left: 0;
	top: 0;
	content: "";
	height: 100%;
	width: 100%;
	-webkit-transition: 10s ease-out;
	transition: 10s ease-out;
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
	z-index: -5;
}

// hero-track-bottom
.hero-track-bottom {
	top: 100%;
	left: 0;
	width: 100%;
	background-color: var(--clr-bg-4);
	z-index: 2;
}

.mt-n7 {
	margin-top: -60px;
}

// track section style
.transport-forms-section {
	.container {
		background-color: var(--clr-bg-4);

		.form-control {
			font-size: 16px;
			padding: 14px 14px 14px 36px;
		}

		i {
			font-size: 16px;
		}

		.select2-container {
			width: 100%;
			min-width: 250px;
		}

		.btn-1 {
			padding: 14px 16px;
			line-height: 1.5;
			font-size: 16px;
			color: var(--clr-white);
			border-color: rgba(var(--primary-color));
			background-color: rgba(var(--primary-color));

			&:hover {
				color: rgba(var(--primary-color));
				background-color: transparent;
			}
		}
	}
}

@media (max-width: 1399px) {
	.form-box {
		margin-left: 0;
		margin-right: 0;
	}
}

@media (max-width: 991px) {

	.form-box {
		margin-right: 0;
		margin-left: 0;
		padding: 24px 20px;
	}
}

@media only screen and (max-width: 768px) {
	.hero-single {
		&.three {
			.hero-thumb {
				width: 100%;
				height: 400px;
			}
		}
	}

	.hero-one {
		.swiper-pagination {
			left: auto;
			right: 10%;
			align-items: flex-end;
		}
	}

	.slider-title {
		font-size: 40px;
		line-height: 45px;
		margin-top: 15px;
	}

	.slider-title-2 {
		font-size: 40px;
		line-height: 45px;
	}
}

@media (max-width: 576px) {

	.slider-title {
		font-size: 35px;
	}

	.slider-title-2 {
		font-size: 35px;
	}

	.hero-one {
		.swiper-pagination {
			display: none;
		}
	}
}

.select2-container {
	width: 100% !important;
}

.select2-container--default .select2-selection--single {
	border-radius: var(--rounded-square) !important;
}

.select2-container .select2-selection--single {
	height: 50px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
	color: #444;
	line-height: 46px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
	top: 12px !important;
	right: 5px !important;
}

.select2-container--default .select2-selection--single .select2-selection__clear {
	margin-right: 5px !important;
}

.select2-container .select2-selection--single .select2-selection__rendered {
	padding: 0 15px !important;
}

.select2-results__option[aria-selected] {
	cursor: pointer;
	color: #111;
}