/*-------------------------------------------------------
08. Margin Padding Css  
---------------------------------------------------------*/

/*margins paddings*/

// Section padding all Formate
.py-0 {
	padding-top: 0;
	padding-bottom: 0;
  }
  
  .pt-0 {
	padding-top: 0 !important;
  }
  
  .pb-0 {
	padding-bottom: 0 !important;
  }
  
  .py-50 {
	padding-top: 50px !important;
	padding-bottom: 50px !important;
  }
  
  .py-80 {
	padding-top: 80px !important;
	padding-bottom: 80px !important;
  }
  .py-100 {
	padding-top: 100px !important;
	padding-bottom: 100px !important;
  }
  
  .py-120 {
	padding-top: 120px !important;
	padding-bottom: 120px !important;
  }
  
  .py-150 {
	padding-top: 150px !important;
	padding-bottom: 150px !important;
  }
  
  .pt-50 {
	padding-top: 50px !important;
  }
  
  .pb-50 {
	padding-bottom: 50px !important;
  }
  
  .pt-80 {
	padding-top: 80px !important;
  }
  
  .pb-80 {
	padding-bottom: 80px !important;
  }
  
  .pt-100 {
	padding-top: 100px !important;
  }
  
  .pb-100 {
	padding-bottom: 100px !important;
  }
  
  .pt-120 {
	padding-top: 120px !important;
  }
  
  .pb-120 {
	padding-bottom: 120px !important;
  }
  
  .pt-150 {
	padding-top: 150px !important;
  }
  
  .pb-150 {
	padding-bottom: 150px !important;
  }




.padding-left-80{
	padding-left: 80px;
}
.padding-right-80{
	padding-right: 80px;
}
.padding-tb-60{
	padding: 60px 0;
}
.padding-top-60{
	padding-top: 60px !important;
}
.padding-bottom-60{
	padding-bottom: 60px !important;
}
.padding-left-60{
	padding-left: 60px !important;
}
.padding-right-60{
	padding-right: 60px !important;
}



.p-50 {
	padding: 50px;
}

.pb-140 {
	padding-bottom: 140px;
}

.pd-50 {
	padding: 5rem 0;
}

.pr-120 {
	padding-right: 12rem;
}

.de-padding {
    padding: 12rem 0;
}

.de-pt {
	padding-top: 12rem;
}

.de-pb {
	padding-bottom: 12rem;
}

.mt-0 {
	margin-top: 0;
}

.mt-10 {
	margin-top: 10px;
}

.mt-20 {
	margin-top: 20px;
}

.mt-30 {
	margin-top: 30px;
}

.mt-40 {
	margin-top: 40px;
}

.mt-50 {
	margin-top: 50px;
}

.mt-60 {
	margin-top: 60px;
}

.mt-70 {
	margin-top: 70px;
}

.mt-80 {
	margin-top: 80px;
}

// .mt-90 {
// 	margin-top: 9rem;
// }

.mt-100 {
	margin-top: 100px;
}

.mb-0 {
	margin-bottom: 0;
}

.mb-10 {
	margin-bottom: 10px;
}

.mb-15 {
	margin-bottom: 15px;
}

.mb-20 {
	margin-bottom: 20px;
}

.mb-30 {
	margin-bottom: 30px;
}

.mb-40 {
	margin-bottom: 40px;
}

.mb-50 {
	margin-bottom: 50px;
}

.mb-60 {
	margin-bottom: 60px;
}

.mb-70 {
	margin-bottom: 70px;
}

.mb-80 {
	margin-bottom: 80px;
}

.mb-90 {
	margin-bottom: 90px;
}

.mb-100 {
	margin-bottom: 100px;
}

.ml-300 {
	margin-left: 30rem;
}

.ml-5 {
	margin-left: 5;
}

.ml-10 {
	margin-left: 10px;
}

.ml-15 {
	margin-left: 15px;
}

.ml-20 {
	margin-left: 20px;
}

.ml-30 {
	margin-left: 30px;
}

.ml-40 {
	margin-left: 40px;
}

.ml-50 {
	margin-left: 50px;
}

.ml-60 {
	margin-left: 60px;
}

.ml-70 {
	margin-left: 70px;
}

.ml-80 {
	margin-left: 80px;
}

.ml-90 {
	margin-left: 90px;
}

.ml-100 {
	margin-left: 100rem;
}

.mr-300 {
	margin-right: 30rem;
}

.mr-5 {
	margin-right: 5;
}

.mr-10 {
	margin-right: 10px;
}

.mr-15 {
	margin-right: 15px;
}

.mr-20 {
	margin-right: 20px;
}

.mr-30 {
	margin-right: 30px;
}

.mr-40 {
	margin-right: 40px;
}

.mr-50 {
	margin-right: 50px;
}

.mr-60 {
	margin-right: 60px;
}

.mr-70 {
	margin-right: 70px;
}

.mr-80 {
	margin-right: 80px;
}

.mr-90 {
	margin-right: 90px;
}

.mr-100 {
	margin-right: 100px;
}

.margin-center {
	margin: 0 auto;
}

@media only screen and (max-width: 767px) {
	.mt-90 {
		margin-top: 5rem;
	}

	.padding-tb{
		padding: 40px 0;
	}
	.padding-top-80{
		padding-top: 40px;
	}
	.padding-bottom-80{
		padding-bottom: 40px;
	}
	.padding-left-80{
		padding-left: 40px;
	}
	.padding-right-80{
		padding-right: 40px;
	}

	.padding-tb-60{
		padding: 40px 0;
	}
	.padding-top-60{
		padding-top: 40px;
	}
	.padding-bottom-60{
		padding-bottom: 40px;
	}
	.padding-left-60{
		padding-left: 40px;
	}
	.padding-right-60{
		padding-right: 40px;
	}
}
