/*-------------------------------------------------------
13. Navbar css 
---------------------------------------------------------*/

.navbar-toggle {
    @extend %dark-mode-style;
    border-radius: var(--rounded-square);
}

.gap-2rem {
    gap: 2rem;
}

%dark-mode-style {
    width: 46px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--border-color-2);
    color: var(--primary-text-color);
    background-color: transparent;
    font-size: 20px;
    cursor: pointer;
}
.light-logo{
    display: none;
}
body.dark-mode .navbar-brand .logo-display {
  display: none;
}
body.dark-mode .navbar-brand .light-logo {
  display: block;
}


.dark-mode-toggle {
    @extend %dark-mode-style;
}

.top-bar-two {
    background-color: rgba(var(--primary-color));
    padding: 5px 0;

    .address {
        a {
            font-size: 13px;
            font-weight: 500;
        }
    }

    .dropdown {
        .dropdown-toggle {
            font-size: 15px;

            &:after {
                content: "\f078";
                font-family: "fontawesome";
                vertical-align: middle;
                border: 0;
                font-size: 12px;
                transition: 0.2s;
            }
        }

        img {
            height: 25px;
            width: 25px;
            border: 2px solid var(--border-color-1);
            border-radius: 50%;
        }

        .dropdown-menu {
            padding: 0;
            min-width: max-content;
            overflow: hidden;
            background-color: var(--white-2);

            .dropdown-item {
                font-size: 15px;
                padding: 6px 16px;
                line-height: 24px;
            }
        }
    }

    .social-icon {
        a {
            height: 26px;
            width: 26px;
            border: 1px solid rgba(255, 255, 255, 0.3019607843);
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--clr-white);
            font-size: 12px;
            line-height: 1;
            transition: all 0.4s ease-in-out;

            &:hover {
                background-color: var(--clr-white);
                color: rgba(var(--primary-color));
                transition: all 0.4s ease-in-out;
            }
        }
    }
}

.bg-offcanvas {
    background-color: var(--white-2);
}

/* ========== header one start ========= */

.navbar-nav.nav-one {
    padding-left: 90px;
}

.menu-bars{
    width: 46px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--border-color-1);
    color: var(--primary-text-color);
    background-color: transparent;
    font-size: 20px;
    cursor: pointer;
    transition: .4s;
    &:hover{
        background-color: rgba(var(--primary-color));
        --primary-text-color: var(--clr-white);
        transition: .4s;
        border-color: rgba(var(--primary-color));
    }
}

.header-bar {
    position: relative;
    width: 40px;
    height: 11px;

    span {
        position: absolute;
        width: 100%;
        height: 2px;
        display: inline-block;
        transition: all 0.3s;
        left: 0;
        overflow: hidden;
        background: var(--header1);
    }

    span:first-child {
        width: 40px;
    }

    span:last-child {
        bottom: 0;
        width: 40px;
    }
}

// home menu dropdown
.nav-item.dropdown .nav-menu {
    min-width: 250px;
    padding: 30px;
    box-shadow: 0px 0px 10px rgba(11, 13, 17, 0.08) !important;
    position: absolute;
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.5s ease;
    opacity: 0;
    z-index: 10;
    background-color: var(--white-2);
    visibility: hidden;
}

.nav-item.dropdown:hover .nav-menu {
    transform: scaleY(1);
    transition: 0.5s ease;
    opacity: 1;
    visibility: visible;
}

.btn-close {
    background-image: none;
    font-size: 18px;
    color: var(--primary-text-color);
    padding: 0;
    opacity: 1;
    border: 1px solid var(--border-color-2);
    border-radius: var(--rounded-square);
    width: 1em;
    height: 1em;
    line-height: 1em;
    background-color: transparent;
    transition: 0.3s;

    &:hover {
        background-color: rgba(var(--primary-color));
        color: var(--clr-white);
        border-color: rgba(var(--primary-color));
        transition: 0.3s;
        opacity: 1;
    }
}

.navbar {
    background-color: var(--white-2);
    .btn-1{
        padding: 1rem 1.5rem;
    }
    // padding: 10px 0;
    .navbar-nav {
        .nav-item {
            .nav-link {
                height: 80px;
                line-height: 80px;
                padding: 0;
                text-transform: capitalize;
                color: var(--primary-text-color) !important;
                font-size: 18px;
                font-weight: 600;
                margin-right: 35px;

                i {
                    font-size: 12px;
                    font-weight: 600;
                }

                &:hover {
                    color: rgba(var(--primary-color)) !important;
                }
            }

            &.dropdown {
                border-radius: 0;

                .nav-menu {
                    padding: 30px;
                    box-shadow: none;

                    &.home-menu {
                        width: 800px;

                        .home-thumb {
                            width: 100%;
                            padding-top: 130%;
                            display: block;
                            position: relative;

                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                position: absolute;
                                top: 0;
                                left: 0;
                                object-position: top;
                            }
                        }

                        .home-title {
                            font-size: 16px;

                            a {
                                font-weight: 600;
                                transition: 0.3s;

                                &:hover {
                                    color: rgba(var(--primary-color));
                                    transition: 0.3s;
                                }
                            }
                        }
                    }

                    .nav-item {
                        .nav-link {
                            color: var(--primary-text-color);
                            line-height: 1;
                            height: inherit;
                            margin-bottom: 1.5rem;
                            margin-right: 0;
                            font-size: 18px;
                            transition: 600ms;
                        }
                        &:hover .nav-link {
                            padding-left: 8px;
                            transition: 600ms;
                        }

                        &:last-child {
                            .nav-link {
                                margin-bottom: 0;
                            }
                        }
                    }
                }
            }
        }
    }

    &.navbar-three .main-link {
        &::after {
            content: "";
            position: absolute;
            left: 0;
            width: 0;
            transition: width 0.5s cubic-bezier(0.35, 0.7, 0.35, 1);
            bottom: 0;
            transform: skew(-35deg);
            height: 4px;
            background: rgba(var(--primary-color));
            z-index: 1;
        }

        &:hover::after {
            width: 100%;
        }
    }

    &.navbar-three {
        .navbar-nav {
            .nav-item {
                position: relative;

                .nav-link {
                    // font-weight: 500;
                    color: var(--primary-text-color) !important;
                    font-size: 16px;
                    font-weight: 500;
                    margin-right: 2rem;
                    &:hover,
                    &:before {
                        color: rgba(var(--primary-color)) !important;
                    }

                    &:before {
                        display: none;
                    }
                }
            }
        }

        .nav-item.dropdown {
            .nav-menu {
                transform: scale(1, 0);
                transform-origin: 0 0;
                top: 100%;
                opacity: 0;
                visibility: hidden;
                transition: all 0.3s ease-in-out;
                min-width: 250px;
                box-shadow: 0px 30px 70px rgba(0, 0, 0, 0.08);
                border: 0;
                padding: 0 2rem;
                border-bottom: 4px solid rgba(var(--primary-color));
                background-color: var(--white-2);
                transition: 0.4s ease;

                .nav-link {
                    border-bottom: 1px solid var(--border-color-2);
                    display: block;
                    padding: 1.2rem 0;
                    margin-bottom: 0 !important;
                    position: relative;
                    font-size: 16px !important;
                    font-weight: 500;
                    width: 100%;
                    &:after {
                        background-color: rgba(var(--primary-color));
                        height: 1px;
                        width: 0;
                        left: 0;
                        bottom: -1px;
                        transition: all 0.4s ease-out;
                        position: absolute;
                        z-index: 1;
                        content: "";
                    }

                    &:hover:after {
                        width: 100%;
                        transition: all 0.4s ease-in;
                    }
                }

                .nav-item:last-child .nav-link::after {
                    display: none;
                }
            }

            &:hover .nav-menu {
                transform: scale(1, 1);
                opacity: 1;
                visibility: visible;
                transition: 0.4s ease;
            }
        }
    }
}

/* ======== header one mobile nav ========*/

.mobile-nav {
    .menu-item {
        width: 100%;
        padding: 10px 0;
        color: var(--primary-text-color);
        font-size: 18px;
        line-height: 1.5;
        font-weight: 600;
        text-transform: capitalize;
        border-bottom: 1px solid var(--border-color-2);
        transition: 0.3s;

        i {
            transition: 0.3s;
        }

        &:hover {
            --primary-text-color: rgba(var(--primary-color));
            transition: 0.3s;
        }
    }

    .menu-item[aria-expanded="true"] i {
        transform: rotate(45deg);
    }

    .card a {
        padding: 10px 10%;
    }
}

/* ======== header one mobile nav ========*/

.dropdown-menu {
    background-color: var(--white-2);
    box-shadow: var(--box-shadow);

    .dropdown-item {
        color: var(--primary-text-color);

        &:hover,
        &:focus {
            background-color: rgba(var(--primary-color), 0.2);
            color: var(--primary-text-color);
        }
    }
}

// offcanvas
.offcanvas-body {
    scrollbar-width: none;
}

.offcanvas.detail-offcanvas {
    border-left: 2px solid rgba(var(--primary-color));
    background-color: var(--white-2);

    .offcanvas-header {
        padding: 30px 30px 20px 30px;
    }

    .offcanvas-body {
        padding: 30px;
        scrollbar-width: none;
    }

    .btn-close {
        background-image: none;
        background-color: rgba(var(--primary-color));
        --primary-text-color: var(--clr-white);
        font-size: 16px;
        font-weight: 600;
        color: var(--primary-text-color);
        width: 45px;
        height: 45px;
        border-radius: 50%;
        overflow: hidden;
        opacity: 1;
        padding: 0;
        box-shadow: none;
    }

    .social-icons {
        margin-top: 30px;
        margin-bottom: 30px;

        li {
            a {
                width: 52px;
                height: 52px;
                // line-height: 52px;
                text-align: center;
                font-size: 16px;
                display: flex;
                align-items: center;
                justify-content: center;
                background: transparent;
                color: var(--primary-text-color);
                -webkit-transition: all 0.4s ease-in-out;
                transition: all 0.4s ease-in-out;
                text-align: center;
                border: 1px solid var(--border-color-2);
                transition: 0.3s;

                &:hover {
                    background: rgba(var(--primary-color));
                    --primary-text-color: var(--clr-white);
                    transition: 0.3s;
                }
            }
        }
    }

    .gallary-items {
        margin-bottom: 30px;

        div {
            width: 100px;
            height: 100px;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }

    .contact {
        margin-bottom: 40px;
    }
}

.dark-mode .header-bar span {
    background: var(--clr-white);
}

// sticky navbar

.sticky {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: auto;
    // --bg-color: var(--bg-white) !important;
    background-color: var(--white-2);
    z-index: 99;
    animation: sticky 1.1s;
    display: block;
    box-shadow: var(--box-shadow);

    .navbar {
        height: auto !important;
    }

    @keyframes sticky {
        0% {
            top: -50px;
            opacity: 0;
            transition-duration: 1.1s;
        }

        100% {
            top: 0;
            opacity: 1;
            transition-duration: 1.1s;
        }
    }
}
