/*-------------------------------------------------------
19. Pagination css 
---------------------------------------------------------*/

.pagination {
	display: block;
	margin-top: 6rem;
	margin-bottom: 0px;
	text-align: center;

	.page-value {
		width: 43px;
		height: 43px;
		line-height: 45px;
		text-align: center;
		display: inline-block;
		background-color: var(--clr-white);
		font-size: 15px;
		font-weight: 600;
		margin: 0 2px 10px;
		padding: 0;
		-webkit-transition: all 0.3s ease 0s;
		-moz-transition: all 0.3s ease 0s;
		-ms-transition: all 0.3s ease 0s;
		-o-transition: all 0.3s ease 0s;
		transition: all 0.3s ease 0s;

		&.current {
			background-color: rgba(var(--primary-color));
			color: var(--clr-white);
		}

		&:hover {
			background-color: rgba(var(--primary-color));
			color: var(--clr-white);
		}

		i {
			font-size: 15px;
		}
	}
}

.pagination-custom {
	p {
		margin-bottom: 0 !important;
	}

	.pagination {
		margin-top: 0;
		display: flex;
		width: 100%;
		justify-content: space-between !important;

		.page-item {

			// width: 43px;
			// height: 43px;
			&.disabled {
				opacity: 0.5;
			}

			.page-link {
				width: 43px;
				height: 43px;
				display: flex;
				align-items: center;
				justify-content: center;
				color: var(--primary-text-color);
				background-color: var(--clr-body);
				border-radius: var(--rounded-square);
				border-color: var(--border-color-2);
				font-size: 15px;
				font-weight: 600;
				padding: 0;
				transition: all 0.3s ease 0s;
			}

			&.active,
			&:hover {
				>.page-link {
					background-color: rgba(var(--primary-color));
					border-color: rgba(var(--primary-color)) !important;
					color: var(--clr-white);
				}
			}
		}
	}
}

@media (max-width: 576px) {
	.pagination-custom {

		.pagination {
			justify-content: space-between !important;
			.page-item {
				.page-link {
					width: auto;
					height: auto;
					display: flex;
					align-items: center;
					justify-content: center;
					padding: 10px 16px;
					line-height: 1;
				}
			}
		}
	}
}