/*-------------------------------------------------------
48. Partner css
---------------------------------------------------------*/

.partner-margin-top {
	margin-top: 19rem;
}

.partner-border {
	position: relative;

	&::before {
		position: absolute;
		content: '';
		top: 0;
		left: 0;
		width: 100%;
		height: 2px;
		background: linear-gradient(270deg,
				rgba(13, 29, 99, 0) 0%,
				rgba(13, 29, 99, 0.1024) 49.76%,
				rgba(13, 29, 99, 0) 100%);
	}

	&::after {
		position: absolute;
		content: '';
		bottom: 0;
		left: 0;
		width: 100%;
		height: 2px;
		background: linear-gradient(270deg,
				rgba(13, 29, 99, 0) 0%,
				rgba(13, 29, 99, 0.1024) 49.76%,
				rgba(13, 29, 99, 0) 100%);
	}
}

//Home 2

.partner-btm-2 {
	padding: 0 11rem;
}

.partner-up-pic {
	width: 250px;
	height: 88px;
	border-radius: 6px;
	border: 1px solid #EEEEEE;
	text-align: center;
	line-height: 88px;
	margin: 0 auto;
	transition: all .5s ease;

	&:hover {
		box-shadow: 0 0 10px rgba(0, 0, 0, .09);
	}
}

.shadow-xs {
	box-shadow: 0px 1px 7px 0px rgba(72, 95, 119, 0.12);
}
.shadow-xs:hover {
    box-shadow: 0px 5px 20px 1px rgba(72, 95, 119, 0.18);
}

.client-slider-1 {
	border: 0;
	border-radius: var(--rounded-3);
	transition: .4s;
	.card-body{
		padding: 30px 24px;
	}
	.partner-logo {
		width: 80px;
		height: 80px;
		border: 1px solid var(--border-color-2);
		background-color: #faf9f9;
		border-radius: 50%;
		padding: 15px;
		overflow: hidden;
		margin: auto;
		margin-bottom: 15px;

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
	.desc{
		line-height: 26px;
		font-size: 16px;
		margin-bottom: 20px;
	}
	&:hover{
		transition: .4s;
	}
}

.social-icons {
	a {
		display: inline-block;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		border: 1px solid var(--border-color-2);
		background-color: var(--white);
		color: var(--primary-text-color);
		text-align: center;
		line-height: 40px;
		margin-right: 10px;
		font-size: 16px;
		transition: .3s;

		&:hover {
			background-color: rgba(var(--primary-color));
			border-color: rgba(var(--primary-color));
			color: var(--clr-white);
			transition: .3s;
		}
	}
}

.swiper-margin {
	margin-top: -16px;
	margin-bottom: -16px;
	margin-right: -16px;
	margin-left: -16px;
}

.partner-thumb {
	width: 130px;
	height: 50px;
	position: relative;
	transform: skew(-10deg);
	background-color: var(--white-2);
	img {
		width: 100%;
		height: 100%;
		object-fit: contain;
		transform: skew(10deg);
	}
}