
/*-------------------------------------------------------
32. Price css
---------------------------------------------------------*/


.price-box-content {
	border-radius: 24px;
	padding: 6rem 4rem;
	background: #FAFAFA;
}

.price-box-content-bg {
	background: var(--clr-white);
	box-shadow: 0px 20px 60px -6px rgba(0, 0, 0, 0.04);
}

.price-up {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 20px;
	border-bottom: 1px solid var(--clr-border);
	margin-bottom: 4rem;
	.price-value {
		color: var(--clr-heading-2);
		font-size: 48px;
		font-weight: 700;
		display: flex;
		align-items: flex-end;
		line-height: 1;
		margin-bottom: 0;
		span {
			color: var(--clr-body);
			text-align: center;
			font-family: var(--primary-font);
			font-size: 18px;
			font-weight: 700;
			display: inline-block;
			line-height: 1;
			margin-bottom: 8px;
		}
	}
	.price-ribbon {
		color: var(--clr-heading-2);
		font-family: var(--primary-font);
		font-size: 18px;
		font-weight: 700;
		line-height: 18px; 
		letter-spacing: -1px;
		text-transform: uppercase;
	}
}

.price-list {
	display: flex;
	flex-direction: column;
	gap: 15px;
	margin-bottom: 4rem;
	li {
		display: flex;
		align-items: center;
		gap: 15px;
		color: var(--clr-heading-2);
		font-family: var(--primary-font);
		font-size: 16px;
		font-weight: 700;
		i {
			-webkit-border-radius: 50%;
			border-radius: 50%;
		}
	}
}

.price-btn {
	border-radius: 12px;
	padding: 20px 28px;
	border: 1px solid #12141D;
	background: #FAFAFA;
	color: #12141D;
	text-align: center;
	font-family: var(--primary-font);
	font-size: 16px;
	font-weight: 700;
	display: inline-flex;
	align-items: center;
	transition: all .5s ease;
	&.active {
		background: var(--clr-def-5);
		color: var(--clr-white);
		border: 1px solid transparent;
	}
	&:hover {
		background: var(--clr-def-6);
		color: var(--clr-white);
		border: 1px solid transparent;
	}
}

.price-btm-text {
	margin-top: 10px;
	color: #12141D;
	font-family: var(--primary-font);
	font-size: 16px;
	font-weight: 400;
}

.price-btm-shape {
	position: absolute;
	z-index: -1;
	bottom: 0;
	left: 0;
	width: 160px;
}

// Price nav Pills

.price-tb {
	ul#pills-tab {
		display: inline-flex;
		border-radius: 12px;
		background: #FFF;
		box-shadow: 0px 4px 60px rgba(40, 55, 79, 0.10);
		padding: 5px;
		line-height: 1;
		li {
			button {
				height: 44px;
				padding: 14px 18px;
				border: none;
				background: transparent;
				color: var(--clr-heading);
				border-radius: 12px;
				font-family: var(--primary-font);
				font-size: 16px;
				font-weight: 700;

				&:hover,
				&.active {
					background: var(--clr-def-6);
					box-shadow: 0px 20px 60px -6px rgba(0, 0, 0, 0.04);
				}
			}
		}
	}
}





