/*-------------------------------------------------------
12. Scroll top css 
---------------------------------------------------------*/

// #scrtop {
// 	display: none;
// 	position: fixed;
// 	bottom: 20px;
// 	right: 30px;
// 	z-index: 99;
// 	font-size: 18px;
// 	border: 1px solid rgba(var(--primary-color));
// 	outline: none;
// 	background-color: rgba(var(--primary-color));
// 	color: var(--clr-white);
// 	cursor: pointer;
// 	padding: 15px;
// 	border-radius: 4px;
// 	line-height: 1;
// 	&:hover {
// 	  background-color: rgba(var(--primary-color));
// 	}
// }

#scrtop {
    position: fixed;
    bottom: 30px;
    text-decoration: none;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    // border: 1px solid rgba(var(--primary-color));
    outline: none;
    background-color: rgba(var(--primary-color));
    color: var(--clr-white);
    cursor: pointer;
    border-radius: var(--rounded-square);
    width: 50px;
    height: 0;
    overflow: hidden;
    text-align: center;
    display: flex;
	align-items: center;
	justify-content: center;
    transition: 1s;
    visibility: hidden;
	box-sizing: border-box;
	opacity: 0;
    border-radius: 50%;
    &:hover {
        background-color: var(--black);
    }
  }
  
  #scrtop.show {
    // height: 40px; /* or 100% based on design */
    transition: 1s;
    visibility: visible;
    height: 50px;
	opacity: 1;

  }

