/*-------------------------------------------------------
38. Sub css
---------------------------------------------------------*/

.sub-shape-1 {
	position: absolute;
	z-index: -1;
	top: 50px;
	left: 125px;
}

.sub-shape-2 {
	position: absolute;
	z-index: -1;
	bottom: 60px;
	right: 0;
}

.sub-form-style-1 {
	display: flex;
	align-items: center;
	gap: 20px;
}

.sub-input {
	width: 308px;
	padding: 20px 35px;
	color: var(--clr-heading);
	border-radius: 40px;
	border: none;
	outline: none;
	background: var(--clr-white);
	line-height: 1;
	&::placeholder {
		color: rgba(25, 25, 25, 0.50);
		font-size: 16px;
		font-weight: 400;
		line-height: 1;
	}
	&:focus {
		box-shadow: none;
		outline: none;
	}
}

.form-btn {
	padding: 20px 35px;
	border: none;
	display: flex;
	line-height: 1;
	font-size: 18px;
	align-items: center;
	border-radius: 40px;
	background: rgba(var(--primary-color));
	color: var(--clr-heading);
	transition: all .5s ease;
	&:hover {
		background: var(--clr-heading);
		color: var(--clr-white);
	}
}

//Home 2

.sub-area-3 {
    position: relative;
    z-index: 9;
    padding-bottom: 1rem;
}

.sub-style-1 {
	position: relative;
	z-index: 1;
	padding: 60px 175px;
	display: grid;
	grid-template-columns: 400px 1fr;
	grid-gap: 10rem;
	align-items: center;
	&::before {
		position: absolute;
		content: '';
		top: 0;
		left: 0;
		background: var(--clr-white);
		height: 100%;
		width: 100%;
		z-index: -1;
		border: 2px solid #0A0F0D;
	}
	&::after {
		position: absolute;
		content: '';
		top: 10px;
		left: 10px;
		background: var(--clr-def-4);
		height: 100%;
		width: 100%;
		z-index: -2;
	}
}

.sub-form-style-2 {
	position: relative;
	z-index: 1;
	.sub-input-2 {
		width: 100%;
		border: none;
		border-bottom: 1px solid var(--clr-rgb-1);
		padding-bottom: 3rem;
		background: transparent;
		&::placeholder {
			color: var(--clr-rgb-1);
			font-size: 18px;
			font-weight: 400;
		}
		&:focus {
			box-shadow: none;
			outline: none;
		}
	}
	.form-btn-2 {
		padding: 12px 16px;
		background: var(--clr-def-4);
		color: var(--clr-heading-2);
		font-size: 16px;
		font-weight: 600;
		letter-spacing: -0.16px;
		transition: all .5s;
		position: absolute;
		top: 0;
		right: 0;
		border: none;
		line-height: 1;
		&:hover {
			background: var(--clr-heading-2);
			color: var(--clr-white);
		}
	}
}

.sub-style-left {
	h2 {
		font-size: 40px;
	}
}

.sub-style-2 {
	&::before {
		background: var(--clr-def-4);
	}
	&::after {
		background: var(--clr-white);
	}
}

//Home 3

.pech-shape {
	position: absolute;
    z-index: -1;
    top: -70px;
    right: -70px;
    width: 290px;
}

.sub-style-3 {
	border-bottom: 1px solid rgba(255, 255, 255, 0.20);
	padding-bottom: 50px;
	margin-bottom: 80px;
}

.sub-style-tx {
	h2 {
		color: var(--clr-white);
	}
}

.sub-form-3 {
	position: relative;
	z-index: 1;
	button {
		display: inline-block;
		padding: 16px 24px;
		border-radius: 12px;
		background: var(--clr-def-6);
		color: var(--clr-heading-2);
		outline: none;
		border: none;
		display: flex;
		align-items: center;
		line-height: 1;
		position: absolute;
		top: 0;
		right: 0;
		transition: all .5s ease;
		&:hover {
			background: var(--clr-def-5);
			color: var(--clr-white);
		}
	}
}

.input-style-3 {
	border-radius: 12px;
	background: var(--clr-white);
	width: 100%;
	border: none;
	height: 48px;
	padding-left: 2rem;
	&::placeholder {
		color: rgba(18, 19, 24, 0.60);
		font-family: var(--primary-font);
		font-size: 14px;
		font-weight: 400;
	}
	&:focus {
		outline: none;
		box-shadow: none;
	}
}

