/*-------------------------------------------------------
33. Team css 
---------------------------------------------------------*/

.team-shapes {
	img {
		position: absolute;
		z-index: -1;
		&.team-shape-1 {
			top: 650px;
			right: 0;
		}
		&.team-shape-2 {
			bottom: 225px;
			left: 0;
		}
	}
}

.team-single {
	.team-desc {
		margin-top: 25px;
		h4 {
			text-transform: capitalize;
			margin-bottom: 5px;
			transition: all .5s ease;
			&:hover {
				color: var(--clr-def-6);
			}
		}
		span {
			display: block;
			font-size: 15px;
			color: var(--clr-heading);
		}
	}
}

.pls {
	position: absolute;
	bottom: 0;
	right: 0;
	height: 6rem;
	width: 6rem;
	line-height: 6rem;
	text-align: center;
	background: var(--clr-1);
	color: var(--clr-white);
}

.team-social {
	display: flex;
	align-items: center;
	gap: 1rem;
	li {
		a {
			i {
				height: 40px;
				width: 40px;
				line-height: 40px;
				text-align: center;
				background: rgba(var(--primary-color));
				color: var(--clr-white);
				font-size: 1.6rem;
				-webkit-border-radius: 50%;
				border-radius: 50%;
				&:hover {
					color: rgba(var(--primary-color));
					background: var(--clr-white);
				}
			}
		}
	}
}

.team-sldr{
	&.swiper {
		.swiper-pagination {
			position: inherit;
			margin-bottom: -18px;
			margin-top: 40px;
			.swiper-pagination-bullet{
				background: transparent;
				height: 20px;
				width: 20px;
				border: 1px solid var(--clr-heading);
				position: relative;
				z-index: 1;
				opacity: 1;
				&.swiper-pagination-bullet-active {
					border-color: var(--clr-heading);
					&::after {
						position: absolute;
						left: 50%;
						top: 50%;
						content: "";
						height: 5px;
						width: 5px;
						border-radius: 50%;
						transform: translate(-50%, -50%);
						background: var(--clr-heading);
						transition: all 0.35s ease-in-out;
					}
				}
			}
		}
	}  
}

// end
