/*-------------------------------------------------------
56. Timeline css 
---------------------------------------------------------*/

.track-up {
	.hero-track {
		.hero-track-form {
			margin: 0 auto;
		}
	}
}

.track-title {
	padding-bottom: 2rem;
	border-bottom: 1px solid #eeeeee;
}

.track-timeline-wpr {
	margin-top: 50px;
}

.track-list {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.track-time-box {
	display: grid;
	grid-template-columns: 1fr 60px 1fr;
	grid-gap: 30px;
}

.track-time-left,
.track-time-right {
	p {
		font-size: 18px;
		font-weight: 500;
		line-height: 1;
	}

	span {
		font-size: 16px;
		font-weight: 400;
		line-height: 1;
		color: var(--clr-body-2);
		display: inline-block;
	}
}

.track-time-mid {
	i {
		height: 6rem;
		width: 6rem;
		line-height: 6rem;
		text-align: center;
		-webkit-border-radius: 50%;
		border-radius: 50%;
		display: inline-block;
	}
}

.track-time-left {
	text-align: right;
}

.track-time-clr-1 {
	.track-time-mid {
		i {
			background: var(--clr-def-7);
		}
	}

	.track-time-left,
	.track-time-right {
		p {
			color: var(--clr-def-7);
		}
	}
}

.track-time-clr-2 {
	.track-time-mid {
		i {
			background: rgba(var(--primary-color));
		}
	}

	.track-time-left,
	.track-time-right {
		p {
			color: rgba(var(--primary-color));
		}
	}
}

.track-time-clr-3 {
	.track-time-mid {
		i {
			background: var(--clr-def-4);
		}
	}

	.track-time-left,
	.track-time-right {
		p {
			color: var(--clr-def-4);
		}
	}
}

.track-time-clr-4 {
	.track-time-mid {
		i {
			background: rgba(var(--primary-color));
		}
	}

	.track-time-left,
	.track-time-right {
		p {
			color: rgba(var(--primary-color));
		}
	}
}

.track-time-clr-5 {
	.track-time-mid {
		i {
			background: #06C2700F;
		}
	}

	.track-time-left,
	.track-time-right {
		p {
			color: var(--clr-def-8);
		}
	}
}


/* ========= New Tracking page design ===========*/

.track-page {
	// background: linear-gradient(135deg, #2974FF, #FFFFFF);
}

.top-text {
	margin-bottom: 30px;

	.heading-3 {
		margin-bottom: 10px;
		line-height: 26px;
	}

	p {
		font-size: 18px;
		font-weight: 500;
		line-height: 16px;
		margin-bottom: 0;
	}
}

.track-search-bar {
	max-width: 700px;
	margin: 0 auto 45px auto;
	margin: auto;
	position: relative;

	.form-control {
		padding: 20px;
		padding-left: 50px;
		padding-right: 150px;
		font-size: 18px;
	}

	i {
		position: absolute;
		left: 20px;
		font-size: 20px;
		font-weight: bold;
	}

	.btn-1 {
		position: absolute;
		right: 6px;
	}
}

.info-container {
	max-width: 1000px;
	margin-top: 45px;
}

.delivery-badge {
	padding: 30px 30px 0 30px;
}

.delivery-date {
	padding: 0 30px;
}

.shipment-info {
	padding: 0 30px;

	.info-title {
		border-bottom: 1px solid var(--border-color-2);
		line-height: 16px;
		padding-bottom: 16px;
	}

	.sending-info {
		padding: 30px;

		.icon {
			width: 40px;
			height: 40px;
			line-height: 40px;
			background-color: rgba(var(--primary-color), 0.08);
			color: rgba(var(--primary-color));
			border-radius: 50%;
			display: block;
			text-align: center;
			font-size: 16px;
		}
	}

	.sender-name {
		font-size: 20px;
		line-height: 26px;
		font-weight: 600;
	}

	.address {
		font-size: 18px;
		line-height: 26px;
		font-weight: 500;
	}
}

.delivery-man-info {
	padding: 30px;

	.avatar {
		width: 100px;
		height: 100px;
		border-radius: 50%;
		overflow: hidden;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.rating {
		font-size: 20px;
		font-weight: 600;
		line-height: 24px;

		.r-number {
			font-size: 24px;
		}
	}
}

//tracking container

.tracking-container {
	background-color: var(--white-2);
	border-radius: 10px;
	padding: 30px;
	// box-shadow: var(--box-shadow);
	max-width: 1000px;
	margin: 0 auto;

	.left-icon {
		div i {
			width: 100px;
			height: 100px;
			border-radius: var(--rounded-square);
			font-size: 80px;
			line-height: 100px;
			text-align: center;
			background-color: rgba(var(--primary-color), 0.08);
			color: rgba(var(--primary-color));
			display: block;
		}
	}
}

.tracking-header {
	font-size: 1.5rem;
	font-weight: bold;
	margin-bottom: 20px;
	color: #333;
}

.timeline {
	position: relative;
	padding-left: 30px;
}

.timeline:before {
	content: "";
	position: absolute;
	left: 160px;
	top: 0;
	bottom: 0;
	width: 2px;
	background-color: #a4aeb854;
}

.timeline-item {
	position: relative;
	padding-bottom: 30px;
	display: flex;
	flex-wrap: wrap;
	gap: 72px;
	align-items: center;
}

.timeline-item:last-child {
	padding-bottom: 0;
}

.timeline-item:before {
	content: "";
	position: absolute;
	left: 121px;
	top: 15px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: rgba(var(--primary-color));
	border: 2px solid rgba(var(--primary-color));
}

.timeline-date {
	font-weight: bold;
	color: var(--primary-text-color);
	margin-bottom: 5px;
	line-height: 20px;
}

.timeline-time {
	color: var(--secondary-text-color);
	font-size: 0.9rem;
	// margin-bottom: 10px;
	line-height: 20px;
}

.timeline-content {
	padding: 12px;
	border-left: 2px solid rgba(var(--primary-color));
	border-radius: 10px;
	box-shadow: 0px 0px 15px rgba(70, 87, 102, 0.158);

	h5 {
		font-size: 16px;
	}

	i {
		line-height: 24px;
		padding: 10px;
		border-radius: var(--rounded-square);
		background-color: rgba(var(--primary-color), 0.08);
		color: rgba(var(--primary-color));
		font-size: 18px;
		line-height: 16px;
	}
}


.custom-badge {
	padding: 6px 10px;
	padding-left: 18px;
	line-height: 16px;
	font-size: 16px;
	border-radius: var(--rounded-square);
	display: inline-flex;
	align-items: center;
	position: relative;

	&:before {
		content: '';
		width: 5px;
		height: 5px;
		border-radius: 50%;
		background-color: rgba(var(--primary-color));
		position: absolute;
		left: 8px;
	}

	&.badge-primary {
		background-color: rgba(var(--primary-color), 0.08);
		color: rgba(var(--primary-color));
	}
}

@media (max-width: 768px) {

	.top-text {
		.heading-3 {
			line-height: 20px;
			font-size: 20px;
		}

		p {
			font-size: 14px;
			line-height: 16px;
		}
	}


	.track-search-bar .btn-1 {
		padding: 12px;
	}

	.track-search-bar .form-control {
		padding: 11px;
		padding-left: 42px;
		font-size: 16px;
		padding-right: 90px;
	}

	.track-search-bar i {
		font-size: 16px;
	}

	.shipment-info .sending-info {
		padding: 30px 0 0;
	}

	.timeline:before {
		left: 0;
	}

	.timeline-item:before {
		left: -39px;
	}

	.timeline-content h5 {
		font-size: 0.875rem;
	}

	.timeline-item {
		gap: 10px;
		padding-bottom: 20px;
	}
}

/* ========= New Tracking page design ===========*/