/*-------------------------------------------------------
03. Typography css
---------------------------------------------------------*/

*,
*:before,
*:after {
    box-sizing: inherit;
}

* {
    scroll-behavior: inherit !important;
}

html,
body {
    height: auto;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;
    overflow-x: hidden;
    padding-right: 0 !important;
    scroll-behavior: smooth;
}

body {
    font-family: var(--primary-font);
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: var(--primary-text-color);
    background-color: var(--white);
}
.section-title {
    p {
        color: var(--secondary-text-color);
    }
}

.heading3 {
    font-size: 28px;
    font-weight: 600;
    line-height: 28px;
}

main.main {
    overflow: hidden;
}

a {
    color: var(--primary-text-color);
    font-weight: 500;
}

a,
a:active,
a:focus,
a:hover {
    outline: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: var(--primary-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 1.5rem 0;
    font-weight: 600;
    font-family: var(--primary-font);
    line-height: 1.2;
}
.gap-5 {
    gap: 2.5rem !important;
}
.c-pointer {
    cursor: pointer;
}

h1 {
    font-size: 48px;
}

@media(max-width: 575px) {
    h1 {
        font-size: 30px;
    }
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 14px;
}

p {
    margin-bottom: 1.5rem;
    color: var(--secondary-text-color);
    font-size: 16px;
    font-weight: 400;
}

.img,
img {
    max-width: 100%;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    height: auto;
}

hr {
    padding: 0px;
    border-bottom: 1px solid #eceff8;
    border-top: 0px;
}

// label {
//   color: #999;
//   cursor: pointer;
//   font-size: 1.4rem;
//   font-weight: 400;
// }

*::-moz-selection {
    background: #d6b161;
    color: #fff;
    text-shadow: none;
}

::-moz-selection {
    background: #555;
    color: #fff;
    text-shadow: none;
}

::selection {
    background: #555;
    color: #fff;
    text-shadow: none;
}

*::-moz-placeholder {
    color: #999;
    font-size: 1.4rem;
    opacity: 1;
}

*::placeholder {
    color: #999;
    font-size: 1.4rem;
    opacity: 1;
}

// theme typography style

.theme__typography {
    position: fixed;
    top: 50%;
    transform: translate(-100%, -50%);
    left: 0;
    z-index: 9999;
    direction: ltr;
    transition: all 0.4s ease-in;
    &.active {
        transform: translate(0, -50%);
        transition: all 0.4s ease-in-out;
    }
    &-inner {
        padding: 30px;
        background-color: #343a40;
        width: 280px;
        position: relative;
        // transform: translateX(-100%);

        button {
            background-color: #121212;
            border: 1px solid #eceff841;
            width: 100px;
            padding: 6px 0;
            color: var(--clr-white);
            transition: all 0.4s ease-in-out;
            &.active {
                background-color: #292828;
                transition: all 0.4s ease-in;
            }
        }

        .icon {
            i {
                width: 50px;
                height: 50px;
                background-color: rgba(var(--primary-color));
                display: flex;
                align-items: center;
                justify-content: center;
                line-height: 1;
                border: 1px solid #eceff841;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: -50px;
                font-size: 20px;
                cursor: pointer;
            }
        }
    }
}
