/*-------------------------------------------------------
30. Work css 
---------------------------------------------------------*/


.work-left-content {
	.swiper-button-next,
	.swiper-button-prev {
		position: inherit;
		top: inherit;
		margin-top: 0;
		display: inherit;
		width: 80px;
		height: 35px;
		color: var(--clr-white);
		background-color: var(--clr-def-3);
		text-align: center;
		border-radius: 5px;
	}
	
	.swiper-button-prev:after,
	.swiper-button-next:after {
		font-family: 'IcoFont';
		font-size: 36px;
	}
	
	.swiper-button-next:after {
		content: '\ea93';
		
	}

	.swiper-button-prev:after {
		content: '\ea94';
	}
}

.work-slider-ico {
    background: var(--clr-white);
    display: inline-block;
    padding: 24px 4rem;
    border-radius: 5px;
	line-height: 1;
}


.work-sldr{
	&.swiper {
		.swiper-pagination {
			position: inherit;
			margin-bottom: -18px;
			margin-top: 40px;
			.swiper-pagination-bullet{
				background: transparent;
				height: 20px;
				width: 20px;
				border: 1px solid rgba(var(--primary-color));
				position: relative;
				z-index: 1;
				opacity: 1;
				&.swiper-pagination-bullet-active {
					border-color: rgba(var(--primary-color));
					&::after {
						position: absolute;
						left: 50%;
						top: 50%;
						content: "";
						height: 5px;
						width: 5px;
						border-radius: 50%;
						transform: translate(-50%, -50%);
						background: rgba(var(--primary-color));
						transition: all 0.35s ease-in-out;
					}
				}
			}
		}
	}  
}















